/* HEADER IMAGE W/ TEXT */
.jumbotron {
  color: white;
  background-image: url('../images/savportbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 0.7;
}

/*****VIDEO BACKGROUND JUMBOTRON*******/
/* .jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
}
.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width:100%;
  height:100%;
  /*  object-fit is not supported on IE  */
/* object-fit: cover;
  opacity:0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
} */

/*****VIDEO BACKGROUND JUMBOTRON*******/

nav {
  margin-top: 0;
}

.nav-item {
  margin-right: 0;
}

#navbarText {
  font-weight: bold;
  color: white;
}

#heading1 {
  text-align: left;
  margin-top: 200px;
  font-size: 32pt;
}

.display {
  font-size: 42pt;
}

.card-img-top {
  border-radius: 2%;
}

#supplyChain {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.logistics-icon {
  height: 50px;
  width: 50px;
  margin: 15px;
}

#get-started {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

#getStarted-button {
  margin-top: 50px;
}

.card {
  border: none;
}

#driver-pic {
  height: 500px;
  width: 250px;
}

#logistics-solutions {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  height: 150px;
}
